<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
       <!-- CONFIGURAÇÃO DE BANCO - APLICAÇÃO PAGLOJAS -->
    <add key="USER" value="usr_pagdesp1" />
    <add key="DATABASE" value="MLDDS" />
    <add key="PASSWORD" value="!usr_pagdesp1!" />
    <!-- FIM CONFIGURAÇÃO DE BANCO - APLICAÇÃO PAGLOJAS -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>