<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mysqlConnect" value="Server=localhost;Uid=root;Pwd=root;Port=3306" />
    <add key="mysqlSchema" value="test" />
    <add key="pgConnect" value="Host=localhost;Database=postgres;User ID=postgres;Password=root;Port=5432" />
    <add key="oracleConnect" value="User Id=USR_BIRL;Data Source=localhost;Password=!USR_BIRL!" />
    <add key="sqlserverConnect" value="Server=localhost;Database=Aula1;Trusted_Connection=True" />
    <add key="firebirdConnect" value="User=SYSDBA;Password=masterkey;Database=D:\\Meus Projetos\\Solutions\\Trabalho Fernando\\BANCO.fdb;DataSource=localhost;Port=3050" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>